header {
  background-color: #ffffff;
  padding: 0 40px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Changed from center */
  height: 80px;
  position: relative;
  z-index: 10;
}

h1 a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

/* This keeps the nav centered while the logo aligns to the top */
header nav {
  align-self: center;
}

.header-logo {
  height: 150px;
  margin-right: 15px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 6px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

nav a:hover {
  color: #333;
  background-color: #FFECB3; /* Amarillo Sol Radiante */
}

nav a.active {
  border-bottom: 3px solid #FFCCBC; /* Naranja Melocotón Cálido */
}
