.inicio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
}

.inicio-content {
  flex: 1;
  padding-right: 40px;
}

.inicio-image {
  flex: 1;
}

/* Add horizontal padding to the slides to control image width */
.carousel .slide {
  padding: 0 25%;
}

/* Style the images within the padded slides */
.carousel .slide img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-button {
  background-color: #FFECB3; /* Amarillo Sol Radiante */
  color: #333;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #FBC02D;
}
